{% extends 'base.html' %}
{% load static %}

{% block title %} Profile Page {% endblock title %}


{% block content %}
<div>
    <h2> Khoj The Search</h2>
    {% if messages %}
        {% for message in messages %}
        <span style="text-align: center;padding-left:40px;font-family: sans-serif;">{{message}}</span>
        {%  endfor  %}
    {% endif %}
    <form action="" id="register" method="POST" novalidate>
       {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}} <br>
        {{fm}} <br> {% if fm.errors %}<span class="errorlist">{{fm.errors|striptags}}</span> <br>{% endif %} <br> 
        {% endfor %}

        {% if result %}
        <h3> Result:  {{result}}  </h3><br>
        {% endif %}

        <input type="submit" value="SEARCH" name="submit" id="submit">
    </form>
    <p style="background-color: rgb(44, 54, 51);" >Click <a style="color:rgb(13, 152, 0);" href="{% url 'logout' %}">Here</a>  to Log out  </p>


    
</div>
{% endblock content %}