{% extends 'base.html' %}
{% load static %}

{% block title %} Login  {% endblock title %}


{% block content %}
<div>
    <h2> Log In</h2>
    {% if messages %}
        {% for message in messages %}
        <span style="text-align: center;padding-left:40px;font-family: sans-serif;">{{message}}</span>
        {%  endfor  %}
    {% endif %}
    <form action="" id="register" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}} <br>
        {{fm}} <br> {% if fm.errors %}<span class="errorlist">{{fm.errors|striptags}}</span> <br>{% endif %} <br> 
        {% endfor %}

        <input type="submit" value="Submit" name="submit" id="submit">
    </form>
      <p style="background-color: rgb(44, 54, 51);" >Click <a style="color:rgb(13, 152, 0);" href="{% url 'signup' %}">Here</a>  to Sign Up  </p>

    
</div>
{% endblock content %}